<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    
    <!-- My fonts  -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
    </style>

    <title>URL_Shortener | About</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='src/favicon.ico') }}">
</head>
<body>
    <!-- Header  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='src/favicon.ico') }}" alt="About Me"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class= "nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/list">Shortened Urls</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

      <!-- Body  -->
      <div class="container" style="margin-top: 30px; margin-bottom: 30px; font-family: 'Redressed', cursive;">
        <div class ="card mb-3 text-center" style="justify-self: center; background: antiquewhite;">
            <img src= "{{ url_for('static', filename='src/man.png') }}" className="card-img-top smallimg" alt="Soumyadev Saha" style= "width: 100%;
            height: 15vw;
            object-fit : contain;
            margin-top : 10px"/>
            <hr />
            <div class ="card-body">
                <h4 class ="card-title"><b>Soumyadev Saha</b></h4>
                <b><p class ="card-text">I am an undergraduate student pursuing Computer Science and Engineering at Jadavpur University, Kolkata-700032.<br> This web app is basically a url shortener like bit.ly, where you can provide large urls and it return you easy to remember, short versions of them.<br>This web app is made with HTML, CSS, vanilla JS (no external library),<br> python's flask library and sqlite3 database to store the shortened urls and their resp. original forms. No API is used.</p>
                <small class ="text-muted">Whatsapp : 6295696944 <br/>Email : soumyadev1912@gmail.com</small></b><br/><br/>
                <a href="https://soumyadev-portfolio-1.netlify.app/" target="_blank" rel="noreferrer" class ="btn btn-danger">My Portfolio</a>
            </div>
            </div>
    </div>

      <!-- Footer  -->
      <div style = "position : relative">
        <footer class = "footer-distributed">
  
        <div class = "footer-right">
  
          <a href="#"><i class = "fa fa-facebook"></i></a>
          <a href="#"><i class = "fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/soumyadev-saha-5ab6a8237/"><i class = "fa fa-linkedin"></i></a>
          <a href="https://github.com/SoumyadevSaha/"><i class = "fa fa-github"></i></a>
  
        </div>
  
        <div class = "footer-left">
  
          <p class = "footer-links">
            <a class = "link-1" href="/"> Home </a>
  
            <a href="#"> Blog </a>
  
            <a href="#"> Pricing </a>
  
            <a href="/about"> About </a>
  
            <a href="#"> Faq </a>
  
            <a href="#"> Contact </a>
          </p>
  
          <p>Soumyadev's Creations &copy; 2022</p>
        </div>
  
        </footer>
      </div>
</body>

<!-- Bootstrap script  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Footer  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">

</html>